.header{
    display: flex;
    text-align:center;
    align-items: center;
    list-style: none;
    margin-top: 31px;
    margin-bottom: 31px;
    justify-content: center;
}
.header_title{
    text-decoration: none;
    margin-left: 80px;
    font-weight: bold;
    color: brown;

}

.main_title{

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    /*align-items: flex-end;*/
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;

    margin-top: 48px;
    justify-content: center;

}
.main_content{
    width: 1145px;
    margin: 0 auto;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 2.4px;

    color: #373737;
    text-align:center;
    justify-content: center;

}


.header_imag{
    margin: auto;
    display: flex;
    justify-content: center;
}
.button{
    width: 191px;
    height: 51px;
    left: 545px;
    top: 557px;
    border-radius: 4px;
    margin: auto;
    background: brown;
    display: flex;

}
.button_text{
    margin: auto;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: white;
}
.footer{
    box-sizing: border-box;
    width: 1145px;
    display: flex;
    margin: auto;
    justify-content: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;

    text-align:right
}